.task {
    padding: 15px 10px;
    margin: 5px 10px;
    transition: 0.3s;
    box-shadow: none;
    border: 1px solid #e6e6e6;
    &.edit-block {
        padding: 0;
    }
    .completed {
        opacity: 0.3;
        text-decoration: line-through;
    }
}

:host.active-todo .task {
    box-shadow: 0 4px 14px rgb(0 14 43 / 30%);
    transition: 0.3s;
    .icon-remove,
    .icon-completed,
    .icon-refresh,
    .icon-edit {
        visibility: visible;
        opacity: 1;
    }
}

.icon {
    height: 19px;
    width: 19px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    &.icon-remove {
        background: url(src/assets/icons/remove.svg) no-repeat;
        background-size: 100%;
    }
    &.icon-edit {
        background: url(src/assets/icons/edit.svg) no-repeat;
        background-size: 100%;
    }
    &.icon-completed {
        background: url(src/assets/icons/completed.svg) no-repeat;
        background-size: 100%;
    }
    &.icon-refresh {
        background: url(src/assets/icons/refresh.svg) no-repeat;
        background-size: 100%;
        opacity: 0.4;
    }
}
